.experience2{
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.experience1{
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    margin-bottom: 24px;
}


h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Poppins SemiBold";
}

.afterParty{
    text-align: center;
    margin:20px;
}

.workexp{
    background: linear-gradient(to bottom, #000000 0%, #0e1b42 45%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-workexp{
    color:white;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 1110px) {
    .title-workexp{
        font-size: 30px;
    }
  }

.whole-thing{
    overflow: hidden;
}