.aboutme-body{
    margin: 150px;
    margin-bottom: 0;
    display: flex;
}

.abtme-description{
    align-items: center;
    margin-left: 150px;
    font-size: 18px;
}

.hititle{
    color:rgb(252, 91, 91);
}

.abt-pictures-hidden{
    display: none;
}

.ending {
    margin: 100px;
    margin-left: 590px;
    margin-top:30px;
    font-size: 18px;
    margin-bottom: 240px;
}

.about{
    font-family: "Poppins";
}

.abtmepic{
    height: 350px;
    width: 320px;
    border-radius: 45%;
    margin: 30px;
    transform: 1s ease;
    animation-name: scalePic;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.abtmepic:hover{
    cursor: pointer;
}


@keyframes scalePic {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }

  .abt-pictures{
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 1000px){
    .aboutme-body{
        margin: 0px;
        margin-bottom: 0;
        display: block;
        align-items: center;
    }
    .abtmepic{
        height: 220px;
        width: 290px;
        border-radius: 50%;
        margin: 30px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .abtme-description{
        padding:20px;
        padding-bottom:0px;
        align-items: center;
        margin-left: 30px;
        font-size: 15px;
    }

    .ending {
        padding:20px;
        margin: 10px;
        margin-left: 30px;
        margin-top:0px;
        font-size: 15px;
        margin-bottom: 50px;

    }

    .hititle{
        color:rgb(252, 91, 91);
        transform: translateX(-3%);
        text-align: center;
    }    

    .abt-pictures{
        display: none;
    }


    .abt-pictures-hidden{
        display:inherit;
        margin: auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .abtmepic2{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 10px;
        margin-top: 40px;
        margin-bottom: 0px;
    }


    

  }